@import './variables.scss';

body {
  background-color: $lightBG;
  font-family: $sansFont;
}

.btn {
  @include buttonStyles;
}

.icon {
  @include buttonStyles
  width: 30px;
}

.input {
  @include inputStyles;
  max-width: 90%;
}

.header {
  border: 2px solid $primaryDark;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.title {
  font-size: 3em;
  margin: 10px;
}

.main-section {
  display: flex;
  flex-direction: row;
}

.folder-section {
  border: 2px solid $primaryDark;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  width: 25%;
  left: 0;
}

.folder-list {
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.url-section {
  position: relative;
  border: 2px solid $primaryDark;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  width: 75%;
  right: 0;
}

.url-input-section {
  display: flex;
  position: relative;
  flex-direction: row;
}

.sort-section {
  position: absolute;
  right: 0;
  text-align: right;
}
